.bg-color-info{
    background-color: #FFF9F4;
}
.bg-info-header{
    color: #FA804C;
}
.bg-button{
    color: white;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;

}
.color-card{
    background: #F1F1F1;
     border-radius: 20px;
}
.fw-color{
    color: #FA804C;
}